.halls {
  flex: 1 1 0;
  margin: 0;

  &-header {
    position: relative;
  }

  &-action {
    position: absolute;
    left: 2px;
    top: -20px;
    color: var(--primary);
    font-size: .6em;
    color: #0476D0;
  }
  
  .hall-form {
    .ant-table {
      background-color: transparent !important;

      .ant-table-container, td, th {
        border-color: #e3e3e3 !important;
      }
      .ant-table-container {
        border-bottom-left-radius: 8px;
      }
      
      tr:last-child {
        td:first-child {
          border-bottom-left-radius: 8px;
        }
        td:last-child {
          border-bottom-right-radius: 8px;
        }
      }
    }

    &-seat-props {
      margin-bottom: 20px;

      td {
        cursor: pointer;
      }
    }
  }

  .hall-title {
    margin-bottom: 50px;  
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
  
  .hall-search input {
    font-size: 1.8rem;
  }
  
/*   .ant-upload-select {
    display: block !important;
  } */

  .hall-scheme {
    &-upload {
      display: flex;
      margin-top: 30px;
      gap: 20px;
    }

    &-column {
      flex: 0 0 25%;

      &:first-child {
        flex: 0 0 50%;
      }
    }

    &-label {
      display: block;
      margin-bottom: 10px;
      font-size: 1rem;;
    }

  }

  .hall-actions {
    margin-top: 50px;
  }

  .hall-seats {
    display: flex;
    gap: 3px;
    padding: 3px 0 !important;
    flex-wrap: wrap;
  }

  .hall-seat {
    width: 40px;
    text-align: center;
  }
  
  .hall-row {
    position: relative;
    padding: 5px;

    &:hover {
      &, & .hall-row-num {
        background-color: #e9e9e9;
      }
    }
  }

  .hall-row-num {
    position: absolute;
    padding: 5px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}



.fs-icon {
  color: var(--ant-color-primary);
}