.events {
  flex: 1 1 0;
  margin: 0;

  &-title {
    position: relative;
    display: flex;
    // justify-content: spce-between;
    align-items: center;

    button {
      font-size: 1em;
      font-weight: 500;
    }
  }

  &-header {
    display: flex;
    gap: 20px;
  }

  &-controls {
    text-align: right;
    margin-top: 14px;
    font-size: 14px;

    & > div {
      margin-bottom: 6px;
    }
  }

  &-action {
    position: absolute;
    left: 2px;
    top: -20px;
    color: var(--primary);
    font-size: .6em;
    color: #0476D0;
  }

  .hall-title {
    margin-top: -73px;
    margin-bottom: 50px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    margin-left: 210px;
  }

  .hall-name {
    border-bottom: 1px solid #00000033;
    border-left: none;
    border-radius: 0;
    height: 60px;
    font-size: 1.4em;
    color: var(--ant-color-text-heading);
    font-weight: var(--ant-font-weight-strong);
    font-size: var(--ant-font-size-heading-1);
    line-height: var(--ant-line-height-heading-1);

    &:hover {
      border-bottom-color: #00000066;
    }

    &:focus {
      border-bottom-color: #000000cc;
    }
  }

  .hall-search input {
    font-size: 1.8rem;
  }

  /*   .ant-upload-select {
    display: block !important;
  } */

  .hall-scheme {
    &-upload {
      display: flex;
      margin-top: 30px;
      gap: 20px;
    }

    &-column {
      flex: 0 0 25%;

      &:first-child {
        flex: 0 0 50%;
      }
    }

    &-label {
      display: block;
      margin-bottom: 10px;
      font-size: 1rem;
      ;
    }

  }

  .hall-actions {
    margin-top: 50px;
  }

  .hall-seats {
    display: flex;
    gap: 3px;
    padding: 3px 0 !important;
    flex-wrap: wrap;
  }

  .hall-seat {
    width: 40px;
    text-align: center;
  }

  .hall-row {
    position: relative;
    padding: 5px;

    &:hover {

      &,
      & .hall-row-num {
        background-color: #e9e9e9;
      }
    }
  }

  .hall-row-num {
    position: absolute;
    padding: 5px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}

.scheme-tooltip {
  border-left: 3px solid;
  padding: 5px;
  color: #fff;
  outline: 3px solid #333;

  &-label {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
  }

  &-category {
    display: inline-block;
    width: 4px;
    height: 100%;
    border-radius: 3px;
    vertical-align: middle;
  }

  &-label {
    &_active {
      cursor: pointer;
      color: #666;
      opacity: .8;

      &:hover {
        opacity: 1;
      }

      .anticon {
        color: #666;
      }

      span {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 6px;
      }
    }

    &_disabled {
      color: #ccc;

      .anticon {
        color: #ccc;
      }
    }
  }
}

.fs-icon {
  color: var(--ant-color-primary);
}