.seat-form {
  &-category_color {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  label {
    height: auto !important;
  }
}