.seat-form {
  &-category_color {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  label {
    height: auto !important;
  }

  &-label-checkbox {
    display: block;
    margin-bottom: 20px;
  }

  .ant-form-item-label {
    margin-bottom: 0 !important;
  }
}