.root {
  position: relative;
}

.addIcon,
.catIcon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: .8em;

  div {
    margin-top: -7px;
  }
}

.edit {
  label {
    font-weight: bold;
  }
    
  .label {
    display: block;
    margin-top: 10px;
    padding-bottom: 5px;
  }
} 
.row3 > div {
  flex: 1 1 0;
}

.checkbox {
  margin-top: 10px;
}

.addIcon {
  padding-top: 3px;
}
  
.catIcon {
  svg {
    max-width: 32px;
    max-height: 32px;
    min-width: 24px;
    min-height: 24px;
    width: auto;
    height: auto;
  }
}

.scheme {
  position: relative;
  flex: 1 1 auto;
  margin-right: 20px;

  svg {
    border-radius: 10px;
  }
}

.params {
  flex: 0 0 420px;

  :global(.ant-btn-circle) {
    min-width: 0 !important;
  }

  :global(.ant-input-number) {
    width: 100%;
  }
}

.deleteCatOuter {
  overflow: hidden;
  width: 0;
  transition: ease .3s width;
}

.catName {
  width: 170px;
}

.catColor {
  width: 100px;
}

.addCat {
  margin-top: 15px;
}

.preview {
  min-width: 150px;
}

.previewFooter {
  text-align: center;
  color: #999;
  font-style: italic;
  padding: 0 8px;
  font-size: .9em;
}

.catOption {
  
  &Icon {
    flex: 0 0 24px;
    height: 24px;
    text-align: center;
    border-radius: 5px;
  }

  svg {
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
  }
}
.title {
  margin: 0 0 10px;
}
.placeholderLikeValue::placeholder {
  color: rgba(0, 0, 0, 0.88) !important;
  opacity: 1 !important;
}